.cart-items {
  list-style: none;
  margin: 0;
  max-height: 20rem;
  overflow: scroll;
  padding: 0;
}

.total {
  align-items: center;
  display: flex;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: space-between;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}

.actions button {
  background-color: transparent;
  border: 1px solid #386641;
  border-radius: 25px;
  cursor: pointer;
  font: inherit;
  margin-left: 1rem;
  padding: 0.5rem 2rem;
}

.actions button:hover,
.actions button:active {
  background-color: #283618;
  border-color: #283618;
  color: #FAF9F6;
}

.actions .button--alt {
  color: #386641;
}

.actions .button {
  background-color: #386641;
  color: #FAF9F6;
}
