.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #5FAD56;
  border: 1px solid #5FAD56;
  color: #FAF9F6;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #386641;
  border-color: #386641;
}
